<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Journal Sphere</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <nav>
      <h1><a href="/">Journal Sphere</a></h1>
      <ul>
        <% if (user) { %>
        <li class="name">Welcome, <%= user.name.toUpperCase() %></li>
        <li><a class="line" href="/compose">Write Journal</a></li>
        <li><a class="line" href="/journals">Explore journal</a></li>
        <li><a class="btn" href="/logout">Log out</a></li>
        <% } else { %>
        <li><a class="line" href="/journals">Explore Journal</a></li>
        <li><a class="line" href="/login">Log&nbsp;in</a></li>
        <li><a class="btn" href="/signup">Sign&nbsp;up</a></li>
        <% } %>
      </ul>
    </nav>
  </body>
</html>
